/* 
    Flexible Box
    For Parent
    - display: flex => To start flexible box
    - flex-direction: row => Default value (row-reverse, colomun, column-reverse)
    - flex-wrap: nowrap => Default value (wrap, wrap revese)
    - flex-flow: [flex-direction flex-wrap]
    - justify-content: flex-start => default value (flex-end, center, space-between, space-around, space-evently)
    - align-items : stretch => default value (flex-start, center, flex-end)
    - align-content : flex-start, flex-end, center, space-between, space-around, space-evently
    
    For Child
    - flex-grow: 0 => Default value  
    - flex-shrink: 1 => Default value 
    - order: 0 => default value
    - flex-basis : auto => default value (20%, 200px ...)
    - flex [Flex Grow] [Flex shrink] [Flex basis] => 0 1 auto
    - align-self: flex-start, flex-end, center
    */

* {
    box-sizing: border-box;
    /* direction: rtl; */
}

.flex {
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
}

.flex div {
    background-color: #f00;
    color: white;
    width: 100px;
    text-align: center;
    padding: 20px;
    margin-right: 5px;
}

.flex2 {
    background-color: #eee;
    display: flex;
    padding: 20px;
    width: 500px;
    height: 1000px;
    /* align-items: center; */
    flex-wrap: wrap;
    align-items: flex-start;
    /* align-content: space-between; */
}

.flex2 div {
    background-color: #f00;
    color: white;
    margin: 5px;
    padding: 20px;
    text-align: center;
    width: calc(90% /3);
}

.three {
    align-self: center;
}

.one {
    /* height: 100px; */
}