/* START GLOBAL RULES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

/* START MEDIA QUERY */
/* SMALL */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* MEDIUM */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* LARGE */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* END MEDIA QUERY */
/*END GLOBAL RULES */